# Virtual environments
.venv/
BookFlowvenv/

# Bytecode
*.pyc
__pycache__/

# PyQt/IDE
.vscode/
.idea/

# Local test and build artifacts
test/
build/
dist/

# Misc
guitest
*.sqlite3
*.db
.DS_Store
.env
env/
